#root input {
    height: 47px;
    background-color: #FFFFFF;
    padding: 6px 15px;
    color: #333;
    outline: none;
    border: 1px solid #BDBDBD;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

#root button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    display: block;
}

@font-face {
    font-family: AkkuratStdFontFamily;
    src: url(./fonts/AkkuratStd.otf);
}